html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}
.brain {
position: absolute;
width: 320px;

}

.head {
position: absolute;
}

.right{
position: absolute;
}

.left {
	position: absolute;
}
